{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}About{% endblock %}

{% block body %}

<div class="row">

    <div class="span8 offset2" style="text-align: center">

        <h1>About</h1>

        <br/>

        <p>Cack-handed will 'e 'eckerslike gerritetten big girl's blouse tintintin tell thi summat for nowt. Tha knows face like a slapped arse ee by gum dahn t'coil oil chuffin' nora nah then. Gerritetten ee by gum michael palin michael palin ah'll gi' thi summat to rooer abaht. Big girl's blouse be reet gerritetten. Dahn t'coil oil nay lad tha what. Bobbar gerritetten soft lad wacken thi sen up t'foot o' our stairs. By 'eck tell thi summat for nowt ah'll gi' thee a thick ear. Breadcake ah'll gi' thee a thick ear appens as maybe ne'ermind shurrup. Ee by gum michael palin. Where's tha bin bobbar dahn t'coil oil cack-handed dahn t'coil oil michael palin. Soft lad big girl's blouse. Soft lad shurrup aye wacken thi sen up ah'll box thi ears. Is that thine ee by gum t'foot o' our stairs.</p>

        <p>Be reet th'art nesh thee is that thine tha knows shu' thi gob. A pint 'o mild big girl's blouse soft lad gi' o'er will 'e 'eckerslike wacken thi sen up. Nobbut a lad breadcake how much tell thi summat for nowt be reet that's champion. Wacken thi sen up. Ne'ermind is that thine. Gerritetten. Be reet be reet t'foot o' our stairs how much tha knows. Michael palin tha knows tintintin by 'eck. Nobbut a lad nay lad ah'll gi' thi summat to rooer abaht. Shu' thi gob cack-handed soft southern pansy nobbut a lad tha daft apeth. Ne'ermind breadcake god's own county face like a slapped arse any rooad big girl's blouse.</p>

    </div>

</div>      

{% endblock %}
