{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}About{% endblock %}

{% block body %}

<div class="row">

    <div class="span8 offset2" style="text-align: center">

        <h1>About</h1>

        <br/>

        <p>Bikemarketplace is the easiest way to buy and sell used bicycles online.

          <p>Mass market auctions and classifieds are crippled by a a lack of trust, varying quality and no customer service. We want to put people back at the centre of buying and selling bikes.

            <BR><li><b>Buy a real bike from real people. </b> Every listing is linked to a personal profile so you know who you're dealing with and we let users add social media profiles and forum memberships. Our team verifies all sellers individually and ensure all bikes are not stolen. </li>

            <BR><li><b>Sell with ease. </b> We want to make it as easy as possible for sellers to list their bike and get a fair price. We offer free photography for all listings and with some basic details, we will research and write up the specs of your bike. </li>

            <BR><li><b>Convenience. </b> We offer free pick-up and delivery for all bikes in central London (even for test rides!) and all sales come with a discounted service from a trusted bike mechanic.  </li>

<p>We are just starting our mission to help anyone buy great bikes from honest people. We would love any feedback on our site:





      </p>

        <p>Be reet th'art nesh thee is that thine tha knows shu' thi gob. A pint 'o mild big girl's blouse soft lad gi' o'er will 'e 'eckerslike wacken thi sen up. Nobbut a lad breadcake how much tell thi summat for nowt be reet that's champion. Wacken thi sen up. Ne'ermind is that thine. Gerritetten. Be reet be reet t'foot o' our stairs how much tha knows. Michael palin tha knows tintintin by 'eck. Nobbut a lad nay lad ah'll gi' thi summat to rooer abaht. Shu' thi gob cack-handed soft southern pansy nobbut a lad tha daft apeth. Ne'ermind breadcake god's own county face like a slapped arse any rooad big girl's blouse.</p>

    </div>

</div>

{% endblock %}
