{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{{ bike.name }}{% endblock %}

{% block body %}

    <h3>{{ bike.name }}</h3>


    <!-- Main Content -->
    <div class="row">

        <!-- Left Column -->
        <div class="span8">

            <!-- Carousel -->
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    {% for picture_id in picture_ids %}
                    <li data-target="#myCarousel" data-slide-to="0"{% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for picture_id in picture_ids %}
                    <div class="{% if forloop.first %}active {% endif %}item" data-slide-number="{{ forloop.counter0 }}">
                        <img src="{{ STATIC_URL }}img/bikes/{{ bike.id }}/{{ picture_id }}" class="img-rounded" style="width: 100%;" />
                    </div>
                    {% endfor %}
                </div>

                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

                {% if bike.verified_not_stolen %}
                <img src="{{ STATIC_URL }}img/bike-not-stolen.png" style="width: 200px; height: 200px; position: absolute; top: 0; left: 0;">
                {% endif %}
            </div>
            <!-- / Carousel -->

            <!-- Thumbnails -->
            <ul class="thumbnails">
                {% for picture_id in picture_ids %}
                <li class="span2">
                    <a class="thumbnail" id="carousel-selector-{{ forloop.counter0 }}">
                        <img src="{{ STATIC_URL }}img/bikes/{{ bike.id }}/{{ picture_id }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!-- / Thumbnails -->

            <!-- Bike Details Table -->
            <table class="table table-striped table-bordered" style="margin-top: 1em">

                <tr>
                    <td style="width:20%">Type:</td>
                    <td style="width:30%"><strong>{{ bike.type }}</strong></td>
                    <td style="width:20%">Frame Size:</td>
                    <td style="width:30%"><strong>{{ bike.frame_size }}</strong></td>
                </tr>

                <tr>
                    <td>Brand:</td>
                    <td><strong>{{ bike.brand }}</strong></td>
                    <td>Model:</td>
                    <td><strong>{{ bike.model }}</strong></td>
                </tr>

                <tr>
                    <td>Frame Material:</td>
                    <td><strong>{{ bike.frame_material }}</strong></td>
                    <td>Brakes:</td>
                    <td><strong>{{ bike.brakes }}</strong></td>
                </tr>

                <tr>
                    <td>Model Year:</td>
                    <td><strong>{{ bike.model_year }}</strong></td>
                    <td>Mileage:</td>
                    <td><strong>{{ bike.mileage }}</strong></td>
                </tr>

            </table>
            <!-- / Bike Details Table -->



            <p>{{ bike.description }}</p>

            <p>
                <a href="{{ bike.bikepedia_url }}">View more information at BikePedia &raquo;</a>
            </p>

        </div>
        <!-- / Left Column -->

        <!-- Right Column -->
        <div class="span4">

            <div style="border: black 1px solid; border-radius: 20px; padding: 20px; text-align: center">

                <h1>£{{ bike.price }}</h1>

                <h3>{{ bike.type }} / {{ bike.frame_size }}</h3>

                <button class="btn btn-large btn-success" type="button">Buy Now</button>

                <button class="btn btn-large btn-success" type="button">Arrange Viewing</button>

            </div>

            <div style="margin-top:1em; border: black 1px solid; border-radius: 20px; padding: 20px; text-align: center">

                <img src="{{ STATIC_URL }}img/users/{{ bike.seller.account.id }}" class="img-rounded" style="width: 250px" />

                <h1>{{ bike.seller.account.user.username }}</h1>

                <button class="btn btn-large btn-block btn-primary" type="button">Contact Me</button>

                <table class="table table-bordered" style="margin-top: 20px">

                    <caption>Social Media</caption>

                    {% if bike.seller.has_facebook %}
                    <tr>
                        <td>Facebook</td>
                        <td><strong>{{ bike.seller.facebook_friends }} friends</strong></td>
                    </tr>
                    {% endif %}

                    {% if bike.seller.has_linkedin %}
                    <tr>
                        <td>Linkedin</td>
                        <td><strong>{{ bike.seller.linkedin_connections }} connections</strong></td>
                    </tr>
                    {% endif %}

                </table>

                <table class="table table-bordered" style="margin-top: 20px">

                    <caption>Forum Memberships</caption>

                    {% if bike.seller.has_road %}
                    <tr>
                        <td>road.css</td>
                        <td><strong>Since May 2007, 43 posts</strong></td>
                    </tr>
                    {% endif %}

                    {% if bike.seller.has_single_track %}
                    <tr>
                        <td>SingleTrack</td>
                        <td><strong>Since January 2010, 22 posts</strong></td>
                    </tr>
                    {% endif %}

                </table>

            </div>

        </div>
        <!-- / Right Column -->

    </div>
    <!-- / Main Content -->

{% endblock %}

{% block extra_script %}

    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>




<script>
  jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });




});
</script>


{% endblock %}