{% extends "banner_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
        <h1>Find a bike you'll love.</h1>

        <br/><br/>

        <form action="{% url 'bike_marketplace_mvp.views.search' %}" method="get" class="form-inline">
            <!-- <label class="checkbox inline">
                <input name="gender" type="radio" value="m">&nbsp;&nbsp;I'm a guy
            </label>
            <label class="checkbox inline">
                <input name="gender" type="radio" value="f">&nbsp;&nbsp;I'm a girl
            </label> -->
            <!-- <select class="input-mini">
                <option value="m">Guy</option>
                <option value="f">Girl</option>
            </select> -->
            Height
            &nbsp;
            <div class="input-append">
                <input id="id_height_feet" name="height_feet" type="text" style="width: 2em ">
                <span class="add-on">feet</span>
            </div>
            &nbsp;
            <div class="input-append">
                <input id="id_height_inches" name="height_inches" type="text" style="width: 2em">
                <span class="add-on">inches</span>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            Max price
            &nbsp;
            <div class="input-prepend">
                <span class="add-on">£</span>
                <input id="id_max_price" name="max_price" type="text" class="input-mini" style="width:4em">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

{% endblock %}
    
    
{% block column-1 %}
    <h3>Buy</h3>

    <p>Real bikes from real people.</p>
{% endblock %}

{% block column-2 %}
    <h3>Sell</h3>

    <p>Upload photos and we'll do the specs.</p>
{% endblock %}


{% block column-3 %}
    <h3>Trust</h3>

    <p>The only premium marketplace for used bikes .</p>
{% endblock %}
