{% extends "banner_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}

        <h1 style="margin-top: 47px;">Find a bike to fall in love with.</h1>

        <br/>

        <form id="human-to-bike" class="form-inline">
            <span>Height</span>
            &nbsp;
            <div class="input-append">
                <input id="id_height_feet" name="height_feet" type="text" style="width: 2em ">
                <span class="add-on">feet</span>
            </div>
            &nbsp;
            <div class="input-append">
                <input id="id_height_inches" name="height_inches" type="text" style="width: 2em">
                <span class="add-on">inches</span>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <span>Max price</span>
            &nbsp;
            <div class="input-prepend">
                <span class="add-on">£</span>
                <input id="id_max_price" name="max_price" type="text" style="width:4em">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary btn-large  ">Search</button>
        </form>

{% endblock %}


{% block column-1 %}
    <h2 class="text-center">Buy</h2>

    <p class="text-center">Real bikes from real people.</p>

    <br/>

    <ul class="thumbnails">
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.seller_detail' 2 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/buy-1.jpg" />
            </a>
        </li>
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.seller_detail' 3 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/buy-2.jpg" />
            </a>
        </li>
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.seller_detail' 4 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/buy-3.jpg" />
            </a>
        </li>
    </ul>
{% endblock %}

{% block column-2 %}
    <h2 class="text-center">Sell</h2>

    <p class="text-center">We offer free photography and writeups for all listings.</p>

    <br/>

    <ul class="thumbnails">
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.detail' 2 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/sell-1.jpg" />
            </a>
        </li>
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.detail' 2 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/sell-2.jpg" />
            </a>
        </li>
        <li>
            <a href="{% url 'bike_marketplace_mvp.views.detail' 2 %}" class="thumbnail">
                <img src="{{ STATIC_URL }}img/home/sell-3.jpg" />
            </a>
        </li>
    </ul>

{% endblock %}


{% block column-3 %}
    <h2 class="text-center">Convenience</h2>

    <p class="text-center">Free couriering and discounted service with every sale.</p>

    <br/>

    <ul class="thumbnails">
        <li>
            <img src="{{ STATIC_URL }}img/home/convenience-3.jpg" />
        </li>
        <li>
            <img src="{{ STATIC_URL }}img/home/convenience-2.jpg" />
        </li>
        <li>
            <img src="{{ STATIC_URL }}img/home/convenience-1.jpg" />
        </li>
    </ul>
{% endblock %}

{% block extra_script %}

<script>
  jQuery(document).ready(function($) {

        $('#human-to-bike').submit(function(event){
            height_feet = $("#id_height_feet").val()
            height_inches = $("#id_height_inches").val()

            if (height_feet && height_inches) {

                inches = parseFloat(height_feet)*12 + parseFloat(height_inches)
                height_cm = inches * 2.54

                // Quick and dirty converion
                frame_size_cm = height_cm * 0.33

                if (frame_size_cm<30) {
                    frame_size = "under_30"
                } else if (frame_size_cm<35) {
                    frame_size = "30_34"
                } else if (frame_size_cm<40) {
                    frame_size = "35_40"
                } else if (frame_size_cm<45) {
                    frame_size = "40_44"
                } else if (frame_size_cm<50) {
                    frame_size = "45_50"
                } else if (frame_size_cm<55) {
                    frame_size = "50_54"
                } else if (frame_size_cm<60) {
                    frame_size = "55_60"
                } else {
                    frame_size = "over_60"
                }

            } else {

                frame_size = "any"

            }

            max_price = $("#id_max_price").val()

            if (! max_price) {
                max_price = 500
            }

            window.location.href = "{% url 'bike_marketplace_mvp.views.search' %}?frame_size=" + frame_size + "&max_price=" + max_price

            event.preventDefault()
        })

});
</script>


{% endblock %}