{% extends "site_base.html" %}

{% load i18n %}
{% load gravatar %}

{% block head_title %}{% endblock %}

{% block body %}

    <form action="/search/" method="get" class="form-inline">
            <label class="checkbox inline">
                <input type="radio" name="gender" value="male">&nbsp;&nbsp;I'm a guy
            </label>
            <label class="checkbox inline">
                <input type="radio" name="gender" value="female">&nbsp;&nbsp;I'm a girl
            </label>
            &nbsp;
            <input type="text" class="input-medium" placeholder="How tall are you? (cm)">
            &nbsp;
            <button type="submit" class="btn">Search</button>
        </form>

    <table class="table table-striped">
    {% for bike in bikes %}

        <tr><td>
            
            <div class="row">
                <div class="span3">
                    <a href="/bikes/{{ bike.pk }}/">
                        <img src="{{ STATIC_URL }}img/bikes/{{ bike.id }}/1-270" class="img-rounded" />
                    </a>
                </div>
                <div class="span2">
                    <img src="{{ STATIC_URL }}img/users/{{ bike.seller.account.id }}" class="img-rounded" />
                </div>
                <div class="span5">
                    <a href="/bikes/{{ bike.pk }}/">
                        <h3>{{ bike.name }}</h3>
                    </a>
                    <p>
                        Brand: <strong>{{ bike.brand }}</strong>
                    </p>
                    <p>
                        Model: <strong>{{ bike.model }}</strong>
                    </p>
                    <p>
                        Year: <strong>{{ bike.model_year }}</strong>
                    </p>
                </div>
                <div class="span1">
                    <h1>£{{ bike.price }}</h1>
                </div>
            </div>
            
        </td></tr>

    {% endfor %}
    </table>

{% endblock %}