{% extends "site_base.html" %}

{% load i18n %}
{% load gravatar %}

{% block head_title %}{% endblock %}

{% block body %}

    <form action="{% url 'bike_marketplace_mvp.views.search' %}" method="get" class="form-inline">
            <!-- <label class="checkbox inline">
                <input name="gender" type="radio" value="m">&nbsp;&nbsp;I'm a guy
            </label>
            <label class="checkbox inline">
                <input name="gender" type="radio" value="f">&nbsp;&nbsp;I'm a girl
            </label> -->
            <!-- <select class="input-mini">
                <option value="m">Guy</option>
                <option value="f">Girl</option>
            </select> -->
            Frame size
            &nbsp;
            {{ form.frame_size }}
            &nbsp;
            &nbsp;
            Max price
            &nbsp;
            <div class="input-prepend">
                <span class="add-on">£</span>
                {{ form.max_price }}
            </div>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn">Search</button>
        </form>

    {% if bikes %}

        <table class="table table-striped">
        {% for bike in bikes %}

            <tr><td>
                
                <div class="row">
                    <div class="span3">
                        <a href="/bikes/{{ bike.pk }}/">
                            <img src="{{ STATIC_URL }}img/bikes/{{ bike.id }}/1-270" class="img-rounded" />
                        </a>
                    </div>
                    <div class="span2">
                        <img src="{{ STATIC_URL }}img/users/{{ bike.seller.id }}" class="img-rounded" />
                    </div>
                    <div class="span5">
                        <a href="/bikes/{{ bike.pk }}/">
                            <h3>{{ bike.name }}</h3>
                        </a>
                        <p>
                            Brand: <strong>{{ bike.brand }}</strong>
                        </p>
                        <p>
                            Model: <strong>{{ bike.model }}</strong>
                        </p>
                        <p>
                            Year: <strong>{{ bike.model_year }}</strong>
                        </p>
                    </div>
                    <div class="span1">
                        <h1>£{{ bike.price }}</h1>
                    </div>
                </div>
                
            </td></tr>

        {% endfor %}
        </table>

    {% else %}

        <br/>   

        <p class="text-center">There are currently no bikes being sold matching your search.</p>

        <br/>

        <p class="text-center">
            <a class="btn" href="{% url 'bike_marketplace_mvp.views.search' %}">Try a broader search</a>
        </p>


    {% endif %}

{% endblock %}


{% block extra_script %}

<script>
  jQuery(document).ready(function($) {

   $("form input").change(function() {
     $("form").submit();
   });

   $("form select").change(function() {
     $("form").submit();
   });

 });

</script>

{% endblock %}